*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F1111;
    color: white;
    height: 60px;
    gap: 11px;
}

/* Amazon main logo */

.nav-bar-logo{
    width: 100px;    
    height: 50px;
}

.border{
    border: 1.5px solid transparent;
    align-items: center;
    padding: 0 9px;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}

.logo{
    background-image: url(/amazon_clone/logo/amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

/* nav address box edit */
.nav-address-box{   
    height: 50px;
    font-size: 12px;
}

.add-box-para{
    font-size: .8rem;
    margin-left: 13px;
    margin-top: 9px;
}

.nav-address-logo {
    display: flex;
    font-size: 12px;
    align-items: center;
}

.add-logo-para{
    font-size: 1rem;
    margin-left: 3px;
}

/* nav search box edit */
.nav-search-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    /* border-radius: 4px; */
}

.cat-search-bar{
    text-align: center;
    height: 40px;
    width: 50px;
    font-size: 12px;
    background-color: #E6E6E6;
    color: #0F1111;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #0F1111;
    height: 40px;
    width: 1070px;
    font-size: 1rem;
    text-align: left;
    border: none;
}

.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #febd69;
    color: #0F1111;
    height: 40px;
    width: 50px;
    font-size: 21px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* nav-len-bar */
.nav-len-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 60px;
    font-size: 1rem;
}

.lang-bar-para{
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.len-opt{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F1111;
    color: white;
    border: none;
}

/* nav-sign-in */

.nav-sign-in{
    height: 50px;
    /* align-items: center;
    justify-content: center; */
    background-color: #0F1111;
}

.sign-in-p1{
    margin-top: 9px;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}

.sign-in-p2{
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: 700;
}



/* nav-returns */

.nav-return{
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #0F1111;
}

.return-p1{
    margin-top: 9px;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}

.return-p2{
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: 700;
}

/* nav cart box */

.nav-cart{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F1111;
    color: white;
}

.nav-cart i{
    font-size: 30px;
}

.cart-p{
    font-size: .7rem;
    margin-left: 3px;
    margin-top: 9px;
}

